<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/header.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/products.css" />
    </head>

    <body>
        <header class="header">
            <a href="/"><img class="header__logo" src="https://t4.ftcdn.net/jpg/03/43/35/09/360_F_343350922_HKl2JXHSwagbkT0okcJUVGn109yjKsjR.jpg" alt="logo"></a>
            <h1 class="header__title">E-Commerce</h1>
            <div class="header__links">
                <a class="header__link" href="/register">Registrarse</a>
                <a class="header__link" href="/login">Iniciar sesion</a>
                <form action="/users/logout" method="POST">
                    <input class="header__link" type="submit" value="Cerrar sesion"></input>
                </form>
            </div>
        </header>
        <div class="products">
            <form class="products__form" action="/products/search" method="POST">
                <input class="products__search-input" placeholder="Busque un producto" type="text" name="search"></input>
                <input class="products__submit" type="submit" value="Buscar"></input>
            </form>
            <form class="products__form" action="/products/filter" method="POST">
                <input class="products__filter-input" placeholder="Precio más bajo" type="number" name="lowest_price"></input>
                <input class="products__filter-input" placeholder="Precio más alto" type="number" name="highest_price"></input>
                <input class="products__submit" type="submit" value="Filtrar"></input>
            </form>
            <h1 class="products__title"> {{title}} </h1>
            <ul class="products__list">
                {{#each products}}
                <a class="products__list-item" href="/products/id/{{ this.id }}">
                    <li>
                        <h3 class="products__list-item-title"><span class="products__list-item-title--bold">Nombre: </span>{{ this.name }}</h3>
                        <h3 class="products__list-item-title"><span class="products__list-item-title--bold">Precio: </span> {{ this.price }}</h3>
                        <h3 class="products__list-item-title"><span class="products__list-item-title--bold">Descripcion: </span> {{ this.description }}</h3>
                    </li>
                </a>
                {{/each}}
            </ul>
            <div class="products__navigation">
                <a class="products__submit" href="/products/{{prevPage currentPage}}">Anterior</a>
                <a class="products__submit" href="/products/{{nextPage currentPage}}">Siguiente</a>
            </div>
        </div>
        <footer class="footer">
            <p class="footer__content">Copyright © Todos los derechos reservados. All rights reserved.</p>
        </footer>
    </body>
</html>