<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>

    <body>
        <h1>El producto con id {{this.id}}</h1>
        {{#if this.product}}
            <h3>Name: {{ this.product.name }}</h3>
            <h3>Age: {{ this.product.age }}</h3>
            <h3>Species: {{ this.product.species }}</h3>
            {{else}}
                <h3>No hemos encontrado el producto que buscas!</h3>
        {{/if}}
    </body>
</html>